@use '../../../styles/variables' as *;

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, $dark-blue-start, $dark-blue-mid, $dark-blue-end);
  color: $text-color-light;
  text-align: center;

  .container {
    max-width: 700px;

    .profile-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 3px solid $border-color-light;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2.5rem;
      margin: 0.5rem 0;
      color: $text-color-light;
    }

    h2 {
      font-weight: 300;
      margin-bottom: 1rem;
      color: $text-color-light;
    }

    .btn {
      display: inline-block;
      margin: 0.5rem;
      padding: 0.8rem 1.5rem;
      background-color: $primary-color;
      color: $text-color-light;
      border-radius: $border-radius;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        background-color: $primary-color-hover;
      }

      &.btn-secondary {
        background-color: transparent;
        border: 1px solid $border-color-light;
        color: $text-color-light;

        &:hover {
          background-color: $text-color-light;
          color: $dark-blue-end;
        }
      }
    }
  }
}
