<section class="home">
  <div class="container">
    <div class="intro">
      
      <div class="intro-img">
        <img src="yousef13.png" alt="Yousef Profile Photo" class="profile-img" />
      </div>
      <div class="intro-text">
        <h1>Hello, I'm Yousef</h1>
        <h2>Front-End Developer - Angular & SCSS</h2>
        <p>I build modern and responsive web interfaces using Angular and SCSS ✨</p>
        <div class="w-full lg:w-1/3">
  <h2 class="text-3xl font-bold mb-2">Get in Touch</h2>
  <div class="h-1 w-12 bg-[#2bd8b2] mb-6"></div>

  <div class="flex flex-row flex-wrap gap-6 justify-between md:flex-nowrap">

    <div class="info-item flex items-start flex-grow">
      <span class="text-[#2bd8b2] text-xl mr-2 mt-1">●</span>
      <div>
        <h4 class="font-semibold">Address</h4>
        <p class="text-sm">Amman, Jordan</p>
      </div>
    </div>

    <div class="info-item flex items-start flex-grow">
      <span class="text-[#2bd8b2] text-xl mr-2 mt-1">●</span>
      <div>
        <h4 class="font-semibold">Call Me</h4>
        <p class="text-sm">+962 7 999 59 225</p>
      </div>
    </div>

    <div class="info-item flex items-start flex-grow">
      <span class="text-[#2bd8b2] text-xl mr-2 mt-1">●</span>
      <div>
        <h4 class="font-semibold">Email </h4>
        <p class="text-sm break-all">yousef.shatnawi&#64;icloud.com</p>
      </div>
    </div>

  </div>
</div>
        <div class="buttons">
          <a href="../../../assets/Frontend_Developer-yousef_shatnawi.pdf" download class="btn">Download CV</a>
          <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="btn btn-secondary">Contact Me</a>
        </div>
      </div>
      
    </div>
  </div>
</section>
