<footer>
  <div class="footer-content">
    <div class="footer-text">
      <p>&copy; 2025 DUAA MIHDAWI. All rights reserved.</p>
      <p>Front-End Developer | Angular & SCSS</p>
    </div>
    <div class="socials">
      <a href="https://www.linkedin.com/in/dua-a-mehdawi" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/duaameh" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:mehdawiduaa@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/duaa.mihdawi/?next=%2F" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    
    </div>
  </div>
</footer>
